################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/DHS.EQUIPMENT/v17/.suo
/.vs/DHS.EQUIPMENT/FileContentIndex/0aab317a-dd8f-448b-acfa-a1af07dd28e2.vsidx
