################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

/.vs/DHS.EQUIPMENT/v17/.suo
/.vs/DHS.EQUIPMENT/FileContentIndex/0aab317a-dd8f-448b-acfa-a1af07dd28e2.vsidx
/.vs/DHS.EQUIPMENT/FileContentIndex/fbb89ca1-596e-45dc-a140-acf9497a99dd.vsidx
/.vs/DHS.EQUIPMENT/FileContentIndex/cc86fed9-f36f-408e-9b45-1c2f2ef13a5e.vsidx
